* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    margin: 5%;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    background-color: Light Grayish hsl(300, 24%, 96%);
    max-width: 1600px;
    margin: 0 auto;
}

.topSection-container {
    text-align: center;
}

.introHeader {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.introText {
    width: 95%;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(303, 10%, 53%);
}

.reviewText-Container {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.reviewContainer1 {
    margin-bottom: 40px;
}

.reviewContainer1 img {
    margin-bottom: 20px;
}

.reviewText {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 15px;
}

.bottomSection-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profileCard-Container {
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;
}

.profileImage img {
    height: 50px;
    border-radius: 50%;
}

.profileName {
    font-size: 10px;
    font-weight: 400;
    padding-left: 20px;
}

.profileName strong {
    color: hsl(303, 10%, 53%);
}

.pink {
    font-size: 10px;
    color: hsl(333, 80%, 67%);
    margin-top: 10px;
}

.profileText {
    font-size: 12px;
    font-weight: 500;
    color: hsl(303, 10%, 53%);
}

@media screen and (min-width:768px) {
    .introText {
        width: 100%;
    }
    .reviewText-Container {
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .reviewContainer1 {
        flex: 1;
        text-align: center;
    }
    .bottomSection-Container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .profileCard-Container {
        text-align: center;
        margin-right: 10px;
        width: 100%;
    }
    .profileCard-Container:last-child {
        margin-right: inherit;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;
        padding-bottom: 20px;
    }
    .profileName {
        text-align: center;
        padding-left: inherit;
        padding-top: 10px;
    }
    .profileImage {
        padding-right: 10px;
    }
}

@media screen and (min-width: 1440px) {
    .topSection-container {
        width: 100%;
        display: flex;
        margin-bottom: 100px;
    }
    .introText-Container {
        flex-basis: 60%;
        text-align: left;
    }
    .reviewText-Container {
        flex-basis: 40%;
    }
    .reviewContainer1 {
        display: inline-flex;
    }
    .reviewText {
        padding-left: 10px;
    }
    .middlepadding {
        padding-left: 50px;
    }
    .endpadding {
        padding-left: 160px;
    }
    .introHeader {
        width: 80%;
        max-width: 424px;
    }
    .introText {
        text-align: left;
    }
    .introText p {
        max-width: 530px;
    }
    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
    }
    .profileName {
        padding-top: 0px;
    }
    .pink {
        padding-top: 10px;
    }
    .bottomSection-Container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: row;
    }
    .pc1 {
        margin-top: 20px;
    }
    .pc2 {
        margin-top: 40px;
    }
    .pc3 {
        margin-top: 60px;
    }
}